<app-spinner
  *ngIf="isLoading"
  class="flex items-center justify-center h-[calc(100vh-5rem)]"
></app-spinner>

<div
  *ngIf="!isLoading"
  class="min-h-screen max-w-3xl mx-auto flex flex-col gap-8 p-8 my-16"
>
  <div class="flex items-center gap-2 text-gray-700">
    <span (click)="goToDashboard()" class="underline cursor-pointer"
      >Ana Menü</span
    >
    <span class="material-symbols-outlined"> chevron_left </span>
    <h1>Kişisel Bilgiler</h1>
  </div>

  <div class="flex flex-col gap-4">
    <div class="flex gap-2 w-full">
      <div class="w-1/2 flex flex-col">
        <label for="firstName" class="text-sm font-semibold">Ad</label>
        <input
          id="firstName"
          type="text"
          placeholder="Örn: Ahmet"
          [(ngModel)]="admin.first_name"
          [disabled]="!isEditable"
          class="border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-red-600 placeholder:text-sm placeholder:text-gray-400"
        />
      </div>
      <div class="w-1/2 flex flex-col">
        <label for="lastName" class="text-sm font-semibold">Soyad</label>
        <input
          id="lastName"
          type="text"
          placeholder="Örn: Yılmaz"
          [(ngModel)]="admin.last_name"
          [disabled]="!isEditable"
          class="border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-red-600 placeholder:text-sm placeholder:text-gray-400"
        />
      </div>
    </div>

    <div class="flex flex-col">
      <label for="email" class="text-sm font-semibold">Email</label>
      <input
        id="email"
        type="email"
        placeholder="Örn: ahmet@example.com"
        [(ngModel)]="admin.email"
        [disabled]="!isEditable"
        class="border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-red-600 placeholder:text-sm placeholder:text-gray-400"
      />
      <div *ngIf="emailTaken" class="text-red-500 text-xs mt-1">
        Bu e-posta zaten kayıtlı.
      </div>
    </div>

    <div class="flex gap-2 w-full">
      <div class="w-1/2 flex flex-col">
        <label for="password" class="text-sm font-semibold">Şifre</label>
        <div class="relative">
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Örn: 1234Aa@"
            [(ngModel)]="admin.password"
            [disabled]="!isEditable"
            class="border border-gray-300 rounded-md p-2 pr-10 w-full focus:outline-none focus:ring-2 focus:ring-red-600 placeholder:text-sm placeholder:text-gray-400"
          />
          <span
            class="material-symbols-outlined absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-gray-500"
            (click)="togglePasswordVisibility()"
          >
            {{ showPassword ? "visibility" : "visibility_off" }}
          </span>
        </div>
        <div *ngIf="isPasswordInvalid" class="text-red-500 text-sm mt-1">
          Şifre en az 8 karakter olmalı, büyük/küçük harf, sayı ve özel karakter
          içermeli.
        </div>
      </div>
      <div class="w-1/2 flex flex-col">
        <label for="phone" class="text-sm font-semibold">Telefon</label>
        <input
          id="phone"
          type="text"
          placeholder="Örn: +905xxxxxxxxx"
          [(ngModel)]="admin.phone"
          [disabled]="!isEditable"
          class="border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-red-600 placeholder:text-sm placeholder:text-gray-400"
        />
        <div *ngIf="phoneTaken" class="text-red-500 text-xs mt-1">
          Bu telefon numarası zaten kayıtlı.
        </div>
        <div *ngIf="isPhoneInvalid" class="text-red-500 text-sm mt-1">
          Geçerli bir telefon numarası girin (örn: +905xxxxxxxxx).
        </div>
      </div>
    </div>

    <div *ngIf="!isEditable" class="flex gap-4 justify-end">
      <button
        (click)="toggleEdit()"
        class="px-4 py-1 rounded-full text-white bg-red-600 cursor-pointer"
      >
        Güncelle
      </button>
    </div>

    <div *ngIf="isEditable" class="flex gap-4 justify-end">
      <button
        (click)="toggleEdit($event)"
        class="px-4 py-1 cursor-pointer underline"
      >
        İptal
      </button>
      <button
        type="submit"
        (click)="toggleEdit(); updateAdmin()"
        class="px-4 py-1 rounded-full text-white bg-red-600 cursor-pointer"
      >
        Kaydet
      </button>
    </div>
  </div>
</div>
