<app-spinner
  *ngIf="isLoading"
  class="flex items-center justify-center h-[calc(100vh-5rem)]"
></app-spinner>

<div *ngIf="!isLoading" class="min-h-screen flex flex-col">
  <app-user-table-header
    (searchQueryChange)="searchQuery = $event; filterUsers()"
  ></app-user-table-header>

  <app-user-table
    [users]="filteredUsers"
    (delete)="deleteUser($event)"
    (searchQueryChange)="tableSearchQuery = $event; filterUsersFromTable()"
    (sortTypeChange)="onSortTypeChange($event)"
  ></app-user-table>
</div>
