<app-spinner
  *ngIf="isLoading"
  class="flex items-center justify-center h-[calc(100vh-5rem)]"
></app-spinner>

<div
  *ngIf="!isLoading"
  class="h-[calc(100vh-5rem)] flex flex-col md:flex-row items-center justify-between mx-8 px-4 gap-12"
>
  <div class="md:w-1/2 flex flex-col gap-8 md:text-left w-full">
    <h1 class="text-4xl md:text-5xl font-extrabold text-gray-900">
      Kullanıcı Yönetimini Kolaylaştırın
    </h1>
    <p class="text-lg md:text-xl text-gray-600 max-w-lg">
      Esi-Software Admin Paneli ile kullanıcılarınızı kolayca yönetin,
      yetkilendirin ve tüm süreci merkezi bir yerden kontrol edin.
    </p>
    <button
      (click)="openLoginDialog()"
      class="flex w-fit justify-start bg-red-700 text-white text-lg font-semibold px-6 py-3 rounded-xl shadow-md hover:bg-red-800 transition cursor-pointer"
    >
      Giriş Yap
    </button>
  </div>

  <div class="md:w-1/2 p-8">
    <img
      src="assets/images/home.webp"
      alt="home"
      class="w-full h-auto rounded-xl shadow-lg"
    />
  </div>
</div>
