<header class="sticky top-0 z-50 bg-red-700 text-white">
  <div class="flex justify-between px-8 py-4">
    <div class="flex gap-1 items-baseline">
      <span class="text-3xl font-bold">Esi-Software</span>
      <span class="text-sm">admin </span>
    </div>
    <div class="flex gap-8 items-center">
      <span class="material-symbols-outlined cursor-pointer">
        notifications
      </span>
      <span class="material-symbols-outlined cursor-pointer">
        account_circle
      </span>
      <span class="material-symbols-outlined cursor-pointer"> logout </span>
    </div>
  </div>
</header>
