<header class="sticky top-0 z-50 bg-white shadow-md">
  <div class="flex justify-between p-4 mx-8">
    <div class="flex gap-1 items-baseline">
      <div>
        <span class="text-3xl font-bold text-red-700">E</span>
        <span class="text-3xl font-bold">si</span>
      </div>
      <span class="text-3xl font-bold text-black">-</span>
      <div>
        <span class="text-3xl font-bold text-red-700">S</span>
        <span class="text-3xl font-bold">oftware</span>
      </div>
      <span class="text-sm text-red-700 font-mono font-bold">admin </span>
    </div>

    <div class="flex gap-4 items-center">
      <span
        class="material-symbols-outlined cursor-pointer p-2 hover:text-red-700 hover:scale-120 transition"
      >
        notifications
      </span>
      <span
        class="material-symbols-outlined cursor-pointer p-2 hover:text-red-700 hover:scale-120 transition"
      >
        account_circle
      </span>
      <span
        class="material-symbols-outlined cursor-pointer p-2 hover:text-red-700 hover:scale-120 transition"
      >
        logout
      </span>
    </div>
  </div>
</header>
